---
const links: Array<{href: string, title: string}> = [
  { href: "/", title: "Home"},
  { href: "/about/", title: "About"},
  { href: "/blog/", title: "Blog"},
]
---

<div id="main-menu" class="nav-links">
  {links.map(link => <a href={link.href}>{link.title}</a>)}
</div>
